body {
  font-size: 1.1em;
  font-family: sans-serif;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3em;
}

nav {
  position: fixed;
  left: auto;
  width: 150px;
}

ul {
  list-style-type: none;
  font-size: .9em;
}

li {
  padding-bottom: 5px;
}

section {
  margin-left: 160px;
  padding-left: 30px;
  max-width: 800px;
  border-left: 2px solid black;
}

.boxed {
  margin: 10px 0;
  border: 2px solid #333;
  padding: 10px 20px;
}

h2 {
  margin-top: 5px;
  padding-top: 0;
}

p {
  font-family: serif;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

caption {
  font-size: .9em;
  font-weight: bold;
  color: #333;
}

table, th, td {
  border: 1px solid black;
  padding: 1px 3px;
  text-align: center;
}
