body {
    /*background: rgb(230,230,230);*/
    background: black;
}

section {
    background: rgba(255,255,255,0.5);
    max-width: 700px;
    margin: 0 auto 30px;
    border-radius: 5px;
}

h1, h2, h3, p {
    padding: 0 10px 0;
}

h1 {
    font-family: arial;
    font-size: 2.5em;
    color: rgba(188, 0, 12, 0.7);
    margin-bottom: 4px;
    padding-bottom: 0px;

}
hr {
    clear: both;
}

h2 {
    font-family: arial;
    font-size: 1.5em;
    color: rgba(255, 168, 0, 0.5);
    float: left;
    clear: left;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0px
}

h3 {
    font-family: arial;
    font-size: 1em;
    float: left;
    margin-top: 8px;
    margin-bottom: 0;
    color: rgba(255, 168, 0, 0.5);
}

p {
    clear: left;
    float: left;
    font-size: 1.2em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}



a {
    text-decoration: none;
    margin-left: 75%;
}

a.inline {
    margin: 0;
}

code {
    float: left;
    clear: left;
    margin: 10px;
    background: rgba(0,0,0,0.5);
    color: rgba(0,255,0,0.8);
    clear: both;
    padding: 20px;
    width: 80%;
    position: relative;
}

span {
    position: absolute;
    top: 0;
    right: 0;
    color: white;

}

span.tab {
    position: static;
    padding-left: 1em;
}

span.tabtwo {
    position: static;
    padding-left: 2em;
}