body {
    /*background: rgb(230,230,230);*/
    background: beige;
}

section {
    background: rgb(255,255,255);
    width: 75%;
    margin-bottom: 30px;
    border-radius: 5px;
    margin-left: 5%;
}

h1, h2, h3, p {
    padding: 0 10px 0;
}

h1 {
    font-family: arial;
    font-size: 2.5em;
    margin-bottom: 4px;
    padding-bottom: 0px;

}
hr {
    clear: both;
}

h2 {
    font-family: arial;
    font-size: 1.5em;
    float: left;
    clear: left;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0px
}

h3 {
    font-family: arial;
    font-size: 1em;
    float: left;
    margin-top: 8px;
    margin-bottom: 0;
}

p {
    clear: left;
    float: left;
    font-size: 1.2em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

a {
    text-decoration: none;
    margin-left: 75%;
}

code {
    float: left;
    clear: left;
    margin: 10px;
    background: black;
    color: gray;
    clear: both;
    padding: 20px;
    width: 80%;
    position: relative;
}

span {
    position: absolute;
    top: 0;
    right: 0;
    color: white;

}